 
 .srchinp
{
	width: 350px;
	height: 20px;
	position:absolute;
	top:24px;
	left: 380px;
	 
}

.useridinp
{	
	position:absolute;
	top:24px;
	height: 20px;
	width:180px;
	left: 675px;
	right: 202px;
}
 
.passinp
 {
 	position:absolute;
	top:24px;
	height: 20px;
	width:180px;
		right: 288px;
}
 
.signinbtn
{
	border-left: 1px solid #ffcc00;
	border-right: 1px solid #ffcc00;
	border-top: 1px solid #ffcc00;
	position:absolute;
	
		width: 6.6em;
	height: 38px;

    	font-size: 80%;
		
	font-weight:bold;
		    
    	background-color:rgba(255,204,0,1);
    	-moz-border-radius:10px;
    	-webkit-border-radius:10px;
    	border-radius:10px;
    	border-bottom:1px solid #9f9f9f;
    	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	cursor:pointer;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	font-family: Futura, "‘Century Gothic’", AppleGothic, sans-serif;
	top: 15px;
	left: 1105px;
	margin-top: 0px;
	right: 152px;
}

.signupbtn
{
	border-left: 1px solid #ffcc00;
	border-right: 1px solid #ffcc00;
	border-top: 1px solid #ffcc00;
	position:absolute;
	
		width: 6.6em;
	height: 38px;

    	font-size: 80%;
		
	font-weight:bold;
		    
    	background-color:rgba(255,204,0,1);
    	-moz-border-radius:10px;
    	-webkit-border-radius:10px;
    	border-radius:10px;
    	border-bottom:1px solid #9f9f9f;
    	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	cursor:pointer;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	font-family: Futura, "‘Century Gothic’", AppleGothic, sans-serif;
	top: 16px;
	left: 1212px;
}

.front
{
	width: 101%;
	
	position: relative;
	top: 0px;
	left: 2px;
	height: 490px;
}

.top
{
	width: 1343px;
	top: 7px;
	left: 4px;
	position: absolute;
	margin-right: 0px;
	margin-top: auto;
	white-space:nowrap;
    background-color: #333;
	height: 61px;
	-moz-border-radius:10px;
    	-webkit-border-radius:10px;
    	border-radius:10px;
    	border-bottom:1px solid #9f9f9f;
    	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
	border-left-color: Black;
	border-right-color: Black;
	border-top-color: Black;
}

.para
{
	text-indent: 200px;
	text-transform: capitalize;
	font-family:Calibri;
	font-style:oblique;
	font-weight:bold;
	font-size:x-large;
    word-spacing:2px;
    color: #eee;
}

.left
{
	top: 74px;
	left: 5px;
	width: 203px;
	
	position: absolute;
	background-color:Gray;
	text-indent:5px;
	-moz-border-radius:10px;
    	-webkit-border-radius:10px;
    	border-radius:10px;
    	border-bottom:1px solid #9f9f9f;
    	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
	height: 659px;
}

.mid
{	
	width: 926px;
	left: 210px;
	top: 73px;
	height: 657px;
	position:absolute;
	margin-left:2px;
	background-color:Orange;
	-moz-border-radius:10px;
    	-webkit-border-radius:10px;
    	border-radius:10px;
    	border-bottom:1px solid #9f9f9f;
    	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    
	margin-right: 2px;
}

.right
{
	top: 74px;
	left: 1140px;
	width: 202px;

	position: absolute;
	margin-left:2px;
	background-color:Gray;
	-moz-border-radius:10px;
    	-webkit-border-radius:10px;
    	border-radius:10px;
    	border-bottom:1px solid #9f9f9f;
    	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
	margin-right: 2px;
	height: 658px;
}

.hyplnk
{
	word-spacing:2px;
	color:InactiveCaption;
    font-family:Calibri;
	font-style:oblique;
	font-weight:bold;
	font-size:large;
	text-decoration: none;
	text-transform: capitalize;
}

.p
{
	text-transform:capitalize;
	font-size:0.900em;
	color:  #808080;
}

h2 
{
	font-family:"Times New Roman", Times, serif;
	font-size:1.875em;
	text-transform:capitalize;
}

.joinbtn
{
	height: 26px;
	width:100px;
	font-weight:bold;
	font:2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    font-size:90%;    
    background-color:rgba(255,204,0,1);
    border:1px solid #ffcc00;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border-bottom:1px solid #9f9f9f;
    -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    cursor:pointer;
}

.joinbtn:hover 
{
	background-color:rgba(255,204,0,0.8);
}

a
{
	text-decoration: none;
	color: black;
}

a:hover
{
	color: blue;
}

.obj1
{
	display:none;
	width:700px;
	left: 200px;
	top: 50px;
	height: 1420px;
    overflow:hidden;

	
}

.obj2
{
	display:none;
	width:700px;
	left: 200px;
	top: 50px;
	height: 1420px;
    overflow:hidden;
	
}

.obj3
{
	display:none;
	width:700px;
	left: 200px;
	top: 50px;
	height: 1420px;
    overflow:hidden;
}

 .titleinp
{
	width: 447px;
	height: 20px;
	position:absolute; 
}

.taginp
{
	width: 300px;
	height: 20px;
	position:absolute;
	top: 133px;
	left: 187px;
}

.postbtn
{
	border-left: 1px solid #ffcc00;
	border-right: 1px solid #ffcc00;
	border-top: 1px solid #ffcc00;
width: 7.4em;
	height: 38px;

    	font-size: 80%;    

    	background-color:rgba(255,204,0,1);
    	-moz-border-radius:10px;
    	-webkit-border-radius:10px;
    	border-radius:10px;
    	border-bottom:1px solid #9f9f9f;
    	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	cursor:pointer;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
	font-family: Futura, "‘Century Gothic’", AppleGothic, sans-serif;
	top: 279px;
	left: 156px;
	position: absolute;
}
.vav
{
	height:120px;
	width:800px;
    position:relative;
    float:left;
	line-height:110%;
}
.tqt
{
    text-align:left;
	position:absolute;
	left:80px;
}
.tagbtn
{
	height:25px;
	width:50px;
	position:absolute;
	font-weight:bold;
	font:2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    font-size: 85%;    
    background-color:rgba(255,204,0,1);
    border:1px solid #ffcc00;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border-bottom:1px solid #9f9f9f;
    -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    cursor:pointer;
}

.container
{
	height:125px;
  
	position:relative;
   
}

.title
{
	
	color: Blue;
    font-family:Courier New CE;
	
	font-weight:bold;
	
	text-decoration: none;
	text-transform: capitalize;
	
}

.description
{
	position:absolute;
	left:90px;
	height:20px;
	width:250px;
	
}

.tags
{
	position:absolute;
	left:90px;
	
}

.vote
{
    position:relative;
    padding-top:8px;
    text-align:center;
    line-height:110%;
    padding-bottom:5px;
  
   
}

.ans
{
	position:relative;
    padding-top:10px;
    text-align:center;
    line-height:110%;
}

.view
{

	left:15px;
	position:relative;
	line-height:110%;
    color:GrayText;
    font-family:Courier New CE;
}

.stats
{
	 position:relative;
	 text-align:center;
	 height:90px;
	 width:80px;
	 font-family:Courier New CE;
	 background-color:ButtonFace;
}

.qstats
{
	 position:absolute;
	 width:800px;
	 height:90px;
	 left:90px;
	 top:0px;
	
}

.sort
{
	position:relative;
	height:20px;
	width:150px;
	left:500px;
}

.srch
{
	width: 180px;
	height: 20px;
	position:absolute;
	
	left: 300px;
   
    white-space:nowrap;
}

.qtitle
{
	
    font-size:x-large;
    font-weight:bold;
	text-decoration: none;
    font-family:Calibri;
    text-align:justify;
    width:700px;   
	
}

.qvotecell
{
    position:relative;
    
    width:50px;
    text-align:center;
    font-family:Courier New CE;
    float:left;
    clear:left;
}

.qcontent
{
    position:relative;
    float:left;
   
    width:800px;
    
}

.qdesc
{
	position:relative;
	float:left;
	left:20px;
    width:700px;
    font-family:Calibri;
    letter-spacing:1px;
    text-align:justify;
    margin-bottom:10px;
    
}

.qtags
{
	position:relative;
	float:left;
	clear:left;
	left:70px;
    
    
   
}

.quser
{
	position:relative;
	left:600px;
	width:150px;
	float:left;
    font-family:Courier New CE;
    font-weight:bold;
    clear:left;
}

.qans
{
	position:relative;
  
    
    float:left;
    clear:left;
    width:100px;
    font-family:Courier New CE;
    font-weight:bold;
    font-size:large;
    
}

.acontent
{
	position:relative;
	float:left;
	clear:left;
	width:800px;
}

.adesc
{
    position:relative;
    float:left;
    left:20px;
    width:700px;
    font-family:Calibri;
    letter-spacing:1px;
    text-align:justify;
}

.qhr
{
	position:relative;
	float:left;
	clear:left;
	width:800px;
}

.post
{
	font-family:Courier New CE;
    font-weight:bold;
    
}
.pans
{
	position:relative;
	float:left;
	clear:left;
}

.srchtag
{
	width: 180px;
	height: 20px;
	position:relative;
	left: 0px;
    white-space:nowrap;
}

.tagcontainer
{
	position:relative;
	

	text-decoration: none;
    font-family:Calibri;
    text-align:justify;
    width:800px;
}

.taglist
{
	position:relative;
    padding-bottom:50px;
}

.usrcontainer
{
	position:relative;
	

	text-decoration: none;
    font-family:Calibri;
    text-align:justify;
    width:800px;
}

.srchusr
{
	width: 180px;
	height: 20px;
	position:relative;
	left: 0px;
    white-space:nowrap;
}



table {
    width:857px;
    height:48px;
    border-bottom-color:Yellow;
    padding: 5px;
    -moz-border-radius:10px;
    	-webkit-border-radius:10px;
    	border-radius:10px;
    	border-bottom:1px solid #9f9f9f;
    	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	
  
    left: 22px;
    position: absolute;
    border-left-color: Yellow;
    border-right-color: Yellow;
    border-top-color: Yellow;
	top: 129px;
	}

th , td {
    border: 1px solid grey;
  
    padding: 5px;
   
   
}

th {
    text-align: left; 
}

table tr:nth-child(odd) {
    background-color: #f1f1f1;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    clear: both;
	padding: 5 1em;
	margin-bottom:auto;
	
}
li {
    float: left;
    
    margin: 3px 3px 0px 3px;
    padding: 5px 5px 0px 5px;
    
    
    
   
}
#mainView {
    
	clear: both;
	padding: 5 1em;
	margin-bottom:auto;
	margin-left:10px;
	
}
.active {
    background-color:Silver;
    color:InactiveCaption;
     -moz-border-radius:10px;
    	-webkit-border-radius:10px;
    	border-radius:10px;
    	border-bottom:1px solid #9f9f9f;
    	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	cursor:pointer;
    
}
.atdtop
 {
            top: 19px;
            left: 1px;
            position: absolute;
            height :75px;
            width: 899px;
            
            margin-left:2px;
        
           
  }
  
 .atdbottom
  {
            top: 550px;
            left: 2px;
            position: absolute;
            width: 895px;
            margin-left:2px;
           
            
  }
  
  .atdmid
  {
            top: 116px;
            left: 1px;
            position: absolute;
            width: 896px;
            margin-left:2px;
	        height: 410px;
	        overflow:scroll;
  }
        .tableAttendence
        {
            top:83px;
            height:28px;
            margin-left: 10px;
            ;
         
           
        }       

