 
 .srchinp
{
	width: 350px;
	height: 20px;
	position:absolute;
	top:24px;
	left: 380px;
	 
}

a:hover 
{
 text-decoration: none;
}
.useridinp
{	
	position:absolute;
	top:24px;
	height: 20px;
	width:180px;
	left: 675px;
	right: 202px;
}
 
.passinp
 {
 	position:absolute;
	top:24px;
	height: 20px;
	width:180px;
		right: 288px;
}
 
.signinbtn
{
	border-left: 1px solid #ffcc00;
	border-right: 1px solid #ffcc00;
	border-top: 1px solid #ffcc00;
	position:absolute;
	
		width: 6.6em;
	height: 38px;

    	font-size: 80%;
		
	font-weight:bold;
		    
    	background-color:rgba(255,204,0,1);
    	-moz-border-radius:10px;
    	-webkit-border-radius:10px;
    	border-radius:10px;
    	border-bottom:1px solid #9f9f9f;
    	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	cursor:pointer;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	font-family: Futura, "‘Century Gothic’", AppleGothic, sans-serif;
	top: 15px;
	left: 1105px;
	margin-top: 0px;
	right: 152px;
}

.signupbtn
{
	border-left: 1px solid #ffcc00;
	border-right: 1px solid #ffcc00;
	border-top: 1px solid #ffcc00;
	position:absolute;
	
		width: 6.6em;
	height: 38px;

    	font-size: 80%;
		
	font-weight:bold;
		    
    	background-color:rgba(255,204,0,1);
    	-moz-border-radius:10px;
    	-webkit-border-radius:10px;
    	border-radius:10px;
    	border-bottom:1px solid #9f9f9f;
    	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	cursor:pointer;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	font-family: Futura, "‘Century Gothic’", AppleGothic, sans-serif;
	top: 16px;
	left: 1212px;
}

.front
{
	width: 101%;
	
	position: relative;
	top: 0px;
	left: 2px;
	height: 490px;
}

.top
{
	width: 1343px;
	top: 5px;
	left: 4px;
	position: absolute;
	margin-right: 0px;
	margin-top: auto;
	white-space:nowrap;
    background-color: #333;
	height: 62px;
	-moz-border-radius:10px;
    	-webkit-border-radius:10px;
    	border-radius:10px;
    	border-bottom:1px solid #9f9f9f;
    	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
	border-left-color: Black;
	border-right-color: Black;
	border-top-color: Black;
}

.para
{
	text-indent: 200px;
	text-transform: capitalize;
	font-family:Calibri;
	font-style:oblique;
	font-weight:bold;
	font-size:x-large;
    word-spacing:2px;
    color: #eee;
}

.left
{
	top: 73px;
	left: 5px;
	width: 203px;
	
	position: absolute;
	background-color:Gray;
	text-indent:5px;
	-moz-border-radius:10px;
    	-webkit-border-radius:10px;
    	border-radius:10px;
    	border-bottom:1px solid #9f9f9f;
    	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
	height: 660px;
}

.mid
{	
	width: 926px;
	left: 210px;
	top: 72px;
	height: 658px;
	position:absolute;
	margin-left:2px;
	background-color:White;
	-moz-border-radius:10px;
    	-webkit-border-radius:10px;
    	border-radius:10px;
    	border-bottom:1px solid #9f9f9f;
    	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    
	margin-right: 2px;
}

.right
{
	top: 73px;
	left: 1140px;
	width: 202px;

	position: absolute;
	margin-left:2px;
	background-color:Gray;
	-moz-border-radius:10px;
    	-webkit-border-radius:10px;
    	border-radius:10px;
    	border-bottom:1px solid #9f9f9f;
    	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    	box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
	margin-right: 2px;
	height: 659px;
}

.hyplnk
{
	word-spacing:2px;
	color:InactiveCaption;
    font-family:Calibri;
	font-style:oblique;
	font-weight:bold;
	font-size:large;
	text-decoration: none;
	text-transform: capitalize;
}







.atdtop
 {
            top: 19px;
            left: 1px;
            position: absolute;
            height :75px;
            width: 899px;
            
            margin-left:2px;
        
           
  }
  
 .atdbottom
  {
            top: 550px;
            left: 2px;
            position: absolute;
            width: 895px;
            margin-left:2px;
           
            
  }
  
  .atdmid
  {
            top: 116px;
            left: 1px;
            position: absolute;
            width: 896px;
            margin-left:2px;
	        height: 410px;
	        overflow:scroll;
  }
        
 .tableAttendence
        {
            top:83px;
            height:28px;
            margin-left: 10px;
            
         
           
        }       

