<!DOCTYPE html>
<html>
<head>
    <title>Smart School | Style Demo</title>
    <link href="../style/AskQuestions.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        #txt_class_std
        {
            top: 58px;
            left: 122px;
            position: absolute;
            height: 22px;
            width: 128px;
        }
    </style>
</head>
<body ng-app="ngapp">
    <p>
        &nbsp;&nbsp;&nbsp;
    </p>
    <div style="width: 1024px; top: 53px; left: 13px; position: absolute; height: 92px">
        <h1 class="para" align="left">
            Class Information</h1>
        &nbsp;&nbsp;&nbsp; Class Standard&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" id="txt_class_std" ng-model="Class.std" />&nbsp;
        <br />
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp; Add Sections
        <br />
        <table>
            <tbody>
                <tr>
                    <td>
                        Group Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        <input type="text" id="txt_tea_gender" ng-model="groupname" />
                    </td>
                </tr>
                <tr>
                    <td>
                        ClassRoom No
                    </td>
                    <td>
                        <input type="text" id="txt_tea_email" ng-model="roomno" />
                    </td>
                </tr>
                <tr>
                    <td>
                        No Of Seats
                    </td>
                    <td>
                        <input type="text" id="txt_tea_dob" ng-model="noofseats" />
                    </td>
                </tr>
                <tr>
                    <td>
                        No Of Students
                    </td>
                    <td>
                        <input type="text" id="txt_tea_contact" ng-model="noofstudents" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" ng-click="addRow()" value="Add" />
                    </td>
                    <td>
                        <select ng-model="std" ng-change="">
                            <option value="">Select Class</option>
                            <option ng-repeat="cls in class_coll | orderBy:'std'" value="{{cls.std}}" ng-selected="{{cls.std == std}}">
                                {{cls.std}} </option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <table class="tbl">
            <tbody>
                <tr>
                    <th>
                        Group Name
                    </th>
                    <th>
                        Room No
                    </th>
                    <th>
                        No of Seats
                    </th>
                    <th>
                        No of Students
                    </th>
                    <th>
                        Remove
                    </th>
                </tr>
                <tr ng-repeat="section in sections">
                    <td>
                        {{section.groupname}}
                    </td>
                    <td>
                        {{section.roomno}}
                    </td>
                    <td>
                        {{section.noofseats}}
                    </td>
                    <td>
                        {{section.noofstudents}}
                    </td>
                    <td>
                        <input type="button" value="Remove" ng-click="removeRow(section.groupname)" />
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="submit" ng-click="sendclass()" value="Submit" style="top: 421px; left: 16px;
            position: absolute; height: 26px; width: 61px" />
        <input type="submit" ng-click="getclass()" value="Get" style="top: 422px; left: 133px;
            position: absolute; height: 26px; width: 35px; right: 900px" />
    </div>
</body>
</html>
