<!DOCTYPE html>
<html>
<head>
    <title>Smart School | Style Demo</title>
    <link href="../style/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="ngapp">
    <div class="container-fluid">
        <h1 align="left">
            Driver Information</h1>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        First Name<font color="red">*</font>
                    </td>
                    <td>
                        <input class="form-control" type="text" id="txt_tea_fname" ng-model="driverdata.fname" required />
                    </td>
                    <td>
                        Last Name<font color="red">*</font>
                    </td>
                    <td>
                        <input class="form-control" type="text" id="txt_tea_lname" ng-model="driverdata.lname" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Permanent Address
                    </td>
                    <td>
                        <textarea class="form-control" rows="4" cols="50" id="txt_tea_email" ng-model="driverdata.address"></textarea>
                    </td>
                    <td>
                        Gender
                    </td>
                    <td>
                        <input type="radio" name="male" value="male" id="txt_tea_gender" ng-model="driverdata.gender">  Male
                        <input type="radio" name="female" value="female" id="txt_tea_gender" ng-model="driverdata.gender">  Female
                    </td>
                </tr>
                <tr>
                    <td>
                        Date Of Birth
                    </td>
                    <td>
                        <input class="form-control" type="date" id="txt_tea_dob" ng-model="driverdata.dob" />
                    </td>
                    <td>
                        Contact
                    </td>
                    <td>
                        <input class="form-control" type="text" id="txt_tea_contact" ng-model="driverdata.contact" />
                    </td>
                </tr>
                <tr>
                    <td>
                        National License Number<font color="red">*</font>
                    </td>
                    <td>
                        <input class="form-control" type="text" id="txt_tea_qualification" ng-model="driverdata.licno" />
                    </td>
                    <td>
                        License Issue Country
                    </td>
                    <td>
                        <!--<input  id="txt_tea_subjects" ng-model="teacher.subject" /> -->
                        <select class="form-control">
                        <option value="IN">--Select Country--</option>
                            <option value="IN">India</option>
                                               </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Badge Issue Date
                    </td>
                    <td>
                        <input class="form-control" type="date" id="txt_tea_Marital" ng-model="driverdata.issuedate" />
                    </td>
                    <td>
                        Badge Expiry Date
                    </td>
                    <td>
                        <input class="form-control" type="date" id="Date1" ng-model="driverdata.expirydate" />
                    </td>
            </tbody>
        </table>
        <input type="submit" class="btn btn-primary" value="Submit" ng-click="senddriverdata()" />
    </div>
</body>
</html>
