<!DOCTYPE html>
<html>
<meta charset="ISO-8859-1">
<head>
    <title>Smart School</title>
    <link href="../style/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container-fluid">
        <h1 align="left">
            Principle Information</h1>
        <br />
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        Principle Id
                    </td>
                    <td>
                        <input class="form-control" type="text" id="txt_parentsid" ng-model="principle.principle_id"></input>
                    </td>
                    <td>
                        First Name
                    </td>
                    <td>
                        <input class="form-control" type="text" id="txt_studentid" ng-model="principle.firstname"></input>
                    </td>
                </tr>
                <tr>
                    <td>
                        Last Name
                    </td>
                    <td>
                        <input class="form-control" type="text" id="txt_fname" ng-model="principle.lastname"></input>
                    </td>
                    <td>
                        Gender
                    </td>
                    <td>
                        <select class="form-control" name="GEnder">
                            <option value="">---Please select---</option>
                            <option value="Male">Male</option>
                            <option value="FeMale">FeMale</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        ResidencePhone
                    </td>
                    <td>
                        <input class="form-control" type="text" ng-model="principle.resiphone"></input>
                    </td>
                    <td>
                        Mobile no
                    </td>
                    <td>
                        <input class="form-control" type="text" id="txt_mobileno"></input>
                    </td>
                </tr>
                <tr>
                    <td>
                        Job Type
                    </td>
                    <td>
                        <select class="form-control" name="GEnder">
                            <option value="">---Please select---</option>
                            <option value="Full">Full</option>
                            <option value="Contract">Contract</option>
                        </select>
                    </td>
                    <td>
                        Permanent Address
                    </td>
                    <td>
                        <input class="form-control" type="text" id="txt_total_paddress"></input>
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="submit" class="btn btn-primary" value="Submit" ng-click="sendprinciple()" />
    </div>
</body>
</html>
