<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Smart School | Style Demo</title>
    <link href="../style/AskQuestions.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form ng-load="getstate()" action="">
    <div>
        <br />
        <h1 class="para" align="left">
            School Information</h1>
        <table>
            <tbody>
                <tr>
                    <td>
                        School Name
                    </td>
                    <td>
                        <input type="text" id="txt_sch_name" />
                    </td>
                    <td>
                        Registration no.
                    </td>
                    <td>
                        <input type="text" id="txt_sch_reg_no" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Address
                    </td>
                    <td>
                        <textarea rows="4" cols="50" id="txt_sch_add"></textarea>
                    </td>
                    <td>
                        Contact
                    </td>
                    <td>
                        <input type="text" id="txt_sch_contact" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Country
                    </td>
                    <td>
                    </td>
                    <td>
                        State
                    </td>
                    <td>
                        <select ng-model="statename" ng-change="myfun()" ng-init="getstate()">
                            <option value="">Select State</option>
                            <option ng-repeat="sts in states_coll | orderBy:'statename'" value="{{sts.statename}}"
                                ng-selected="{{sts.statename == state}}">{{sts.statename}} </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        City
                    </td>
                    <td>
                        <select ng-model="city" ng-change="">
                            <option value="">Select City</option>
                            <option ng-repeat="ct in cities | orderBy:'cityname'" value="{{ct.cityname}}"
                                ng-selected="{{ct.cityname == city}}">{{ct.cityname}} </option>
                        </select>
                    </td>
                    <td>
                        No of Teachers
                    </td>
                    <td>
                        <input type="text" id="Text1" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Principle Name
                    </td>
                    <td>
                        <input type="text" id="txt_sch_principle" />
                    </td>
                    <td>
                        Board Name
                    </td>
                    <td>
                        <input type="text" id="txt_sch_total_teachers" />
                    </td>
                </tr>
                <tr>
                    <td>
                        No of Busses
                    </td>
                    <td>
                        <input type="text" id="txt_sch_total_busses" />
                    </td>
                    <td>
                        No of Classes
                    </td>
                    <td>
                        <input type="text" id="txt_sch_no_ofclasses" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Type of Medium
                    </td>
                    <td>
                        <input type="text" id="Text2" />
                    </td>
                    <td>
                        Up to Which class
                    </td>
                    <td>
                        <input type="text" id="Text4" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Temp for state
                    </td>
                    <td>
                        <input type="text" ng-model="statename" />
                    </td>
                    <td>
                        Temp for city
                    </td>
                    <td>
                        <input type="text" ng-model="city" />
                    </td>
                    <td>
                        <input type="submit" value="Addcity" ng-click="addcity()" />
                    </td>
                     <td>
                        <input type="submit" value="Addstate" ng-click="addstate()" />
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="submit" ng-click="sendstate()" />
    </div>
    </form>
</body>
</html>
