<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Smart School | Style Demo</title>
    <link href="../style/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container-fluid">
    
        <h1 align="left">
            School Information</h1>
        <br />
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        School Name
                    </td>
                    <td>
                        <input class="form-control" type="text" id="txt_sch_name" ng-model="schooldb.schoolname" />
                    </td>
                    <td>
                        Registration no.
                    </td>
                    <td>
                        <input class="form-control" type="text" id="txt_sch_reg_no" ng-model="schooldb.regno" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Address
                    </td>
                    <td>
                        <textarea class="form-control" rows="4" cols="50" id="txt_sch_add" ng-model="schooldb.address"></textarea>
                    </td>
                    <td>
                        Contact
                    </td>
                    <td>
                        <input class="form-control" type="text" id="txt_sch_contact" ng-model="schooldb.contactdetails" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Country
                    </td>
                    <td>
                        <select class="form-control" name="country">
                            <option value="">Country...</option>
                            <option value="">India</option>
                        </select>
                    </td>
                    <td>
                        State
                    </td>
                    <td>
                        <select class="form-control" ng-model="schooldb.statename" ng-change="myfun()" ng-init="getstate()">
                            <option value="">Select State</option>
                            <option ng-repeat="sts in states_coll | orderBy:'statename'" value="{{sts.statename}}"
                                ng-selected="{{sts.statename == schooldb.statename}}">{{sts.statename}} </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        City
                    </td>
                    <td>
                        <select class="form-control" ng-model="schooldb.city" ng-change="">
                            <option value="">Select City</option>
                            <option ng-repeat="ct in cities | orderBy:'cityname'" value="{{ct.cityname}}" ng-selected="{{ct.cityname == schooldb.city}}">
                                {{ct.cityname}} </option>
                        </select>
                    </td>
                    <td>
                        No of Teachers
                    </td>
                    <td>
                        <input class="form-control" type="text" id="Text1" ng-model="schooldb.noofteacher" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Principle Name
                    </td>
                    <td>
                        <input class="form-control" type="text" id="txt_sch_principle" ng-model="schooldb.principlename" />
                    </td>
                    <td>
                        Board Name
                    </td>
                    <td>
                        <input class="form-control" type="text" id="txt_sch_total_teachers" ng-model="schooldb.boardname" />
                    </td>
                </tr>
                <tr>
                    <td>
                        No of Busses
                    </td>
                    <td>
                        <input class="form-control" type="text" id="txt_sch_total_busses" ng-model="schooldb.noofbusses" />
                    </td>
                    <td>
                        No of Classes
                    </td>
                    <td>
                        <input class="form-control" type="text" id="txt_sch_no_ofclasses" ng-model="schooldb.noofclasses" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Type of Medium
                    </td>
                    <td>
                        <select class="form-control" ng-model="schooldb.medium">
                            <option value="">Select Type</option>
                            <option value="">Hindi</option>
                            <option value="">English</option>
                    </td>
                    <td>
                        Up to Which class
                    </td>
                    <td>
                        <input class="form-control type="text" id="Text4" />
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="submit" class="btn btn-primary" value="Submit" ng-click="send_school_data()" />
    </div>
</body>
</html>
