<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Smart School | Style Demo</title>
    <link href="../style/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container-fluid">
      
        <h1 align="left">
            Student Information</h1>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        First Name
                    </td>
                    <td>
                        <input class="form-control" type="text" id="txt_stu_fname" ng-model="studentdata.first_name" />
                    </td>
                    <td>
                        Last Name
                    </td>
                    <td>
                        <input class="form-control" type="text" id="txt_stu_lname" ng-model="studentdata.last_name" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Gender
                    </td>
                    <td>
                        <input type="radio" name="male" value="male" ng-model="studentdata.gender">  Male
                        <input type="radio" name="female" value="female" ng-model="studentdata.gender">  Female
                    </td>
                    <td>
                        Email
                    </td>
                    <td>
                        <input class="form-control" type="text" id="txt_stu_email" ng-model="studentdata.email" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Date Of Birth
                    </td>
                    <td>
                        <input class="form-control" type="date" id="txt_stu_dob" ng-model="studentdata.dob" />
                    </td>
                    <td>
                        Contact
                    </td>
                    <td>
                        <input class="form-control" type="text" id="txt_stu_contact" ng-model="studentdata.contact" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Nationality
                    </td>
                    <td>
                        <input class="form-control" type="text" id="txt_stu_nationality" ng-model="studentdata.nationality" />
                    </td>
                    <td>
                        Religion
                    </td>
                    <td>
                        <input class="form-control" type="text" id="txt_stu_religion" ng-model="studentdata.religion" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Mothertounge
                    </td>
                    <td>
                        <input class="form-control" type="text" id="txt_stu_mothertounge" ng-model="studentdata.mothertounge" />
                    </td>
                    <td>
                        Father Name
                    </td>
                    <td>
                        <input type="text" id="txt_stu_father" ng-model="studentdata.fathername" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Father Occupation
                    </td>
                    <td>
                        <input class="form-control" type="text" id="txt_stu_foccu" ng-model="studentdata.father_accupation" />
                    </td>
                    <td>
                        Mother Name
                    </td>
                    <td>
                        <input class="form-control" type="text" id="txt_stu_mother" ng-model="studentdata.mother_name">
                    </td>
                </tr>
                <tr>
                    <td>
                        Mobile
                    </td>
                    <td>
                        <input class="form-control" type="text" id="txt_stu_mobile" ng-model="studentdata.mobile_no" />
                    </td>
                    <td>
                        Landline
                    </td>
                    <td>
                        <input class="form-control" type="text" id="txt_stu_landline" ng-model="studentdata.landline" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Permanent Address
                    </td>
                    <td>
                        <textarea class="form-control" rows="4" cols="50" id="txt_stu_add" ng-model="studentdata.permanent_address"></textarea>
                    </td>
                    <td>
                        State
                    </td>
                    <td>
                        <select class="form-control" ng-model="statename" ng-change="myfun()" ng-init="getstate()">
                            <option value="">Select State</option>
                            <option ng-repeat="sts in states_coll | orderBy:'statename'" value="{{sts.statename}}"
                                ng-selected="{{sts.statename == state}}">{{sts.statename}} </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        City
                    </td>
                    <td>
                        <select class="form-control" ng-model="city" ng-change="">
                            <option value="">Select City</option>
                            <option ng-repeat="ct in cities | orderBy:'cityname'" value="{{ct.cityname}}" ng-selected="{{ct.cityname == city}}">
                                {{ct.cityname}} </option>
                        </select>
                    </td>
                    <td>
                        Country
                    </td>
                    <td>
                        <input class="form-control" type="text" id="txt_stu_country" ng-model="studentdata.country" />
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="submit" class="btn btn-primary" value="Submit" ng-click="sendstudentdata()" />
    </div>
</body>
</html>
