<!DOCTYPE html>
<html>
<head>
    <title>Smart School | Style Demo</title>
    <link href="../style/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="ngapp">
    <div class="container-fluid">

        <h1 align="left">
            Teacher Information</h1>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        First Name
                    </td>
                    <td>
                        <input type="text" id="txt_tea_fname" ng-model="teacher.fname" />
                    </td>
                    <td>
                        Last Name
                    </td>
                    <td>
                        <input type="text" id="txt_tea_lname" ng-model="teacher.lname" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Gender
                    </td>
                    <td>
                        <input type="text" id="txt_tea_gender" ng-model="teacher.gender" />
                    </td>
                    <td>
                        Email
                    </td>
                    <td>
                        <input type="text" id="txt_tea_email" ng-model="teacher.email" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Date Of Birth
                    </td>
                    <td>
                        <input type="date" id="txt_tea_dob" ng-model="teacher.dob" />
                    </td>
                    <td>
                        Contact
                    </td>
                    <td>
                        <input type="text" id="txt_tea_contact" ng-model="teacher.contact" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Qualification
                    </td>
                    <td>
                        <input type="text" id="txt_tea_qualification" ng-model="teacher.qualification" />
                    </td>
                    <td>
                        Subjects
                    </td>
                    <td>
                        <input type="text" id="txt_tea_subjects" ng-model="teacher.subject" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Marital status
                    </td>
                    <td>
                        <input type="text" id="txt_tea_Marital" ng-model="teacher.marital" />
                    </td>
                    <td>
                        Permanent Address
                    </td>
                    <td>
                        <textarea rows="4" cols="50" id="txt_tea_add" ng-model="teacher.prmaddress"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="submit" class="btn btn-primary" value="Submit" ng-click="getAndSendteacher()" />
    </div>
</body>
</html>
